@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Monoton&family=Ubuntu:wght@300&display=swap');
.App {
  margin:5px;
}
#nav-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
#not-logged-in-nav{
  /* position:fixed; */
  margin:10px 5px;
  /* background-color: rgb(170, 238, 235); */
  height: 7vh;
}
#title{
  text-align: center;
  margin: 5px;
  font-size: 60px;
  /* font-family: 'Cedarville Cursive', cursive; */
  font-family: 'Pacifico', cursive;
}
#sign-up, #login{
  padding: 10px 35px; 
  background-color: rgb(221, 132, 109);
  border:none;
  color:white;
  margin: 5px;
  /* font-family: 'Ubuntu', sans-serif; */
  font-weight: 900;
}
