@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Monoton&family=Ubuntu:wght@300&display=swap');
.App {
  margin:5px;
}
.App-no-login{
  display: grid;
  grid-template-rows: 1fr 4fr;
}
#nav-no-login{
  display:flex;
  justify-content: space-between;
  border: solid 1px black;
  padding:5px;
  margin:5px;
  align-items: center;
}

#no-log-info img{
  display:block;
  height: 40vh;
  margin: 0 auto;

}
#nav-flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: solid 1px black;
  padding:10px;
  margin:5px;
}
#user-message{
  display: grid;
  grid-template-rows: auto;
  margin-right:-5px;
}
#user-message h3{
  font-size:15px;
  font-family: 'Ubuntu', sans-serif;
  color:rgb(56, 163, 136);
  font-weight:800;
}
#user-message button{
  width:20vw;
}
#title{
  text-align: left;
  margin: 5px;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}
#sign-up, #login, #logout{
  background-color: none;
  /* border: solid 1px red; */
  border:none;
  color:rgb(56, 163, 136);
  margin: 5px;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}
#not-logged-in-nav{
  display:grid;
  grid-template-rows: 1fr 1fr;
}
#logout{
  /* background-color: rgb(209, 86, 86); */
  background-color: orange;
  color:white;
}
#show-details{
  color:orange;
  font-family: 'Ubuntu', sans-serif;
  border:solid 20px orange;
}
#deets-title{
  font-family: 'Monoton', cursive;
}
#show-details button{
  background-color: orange;
  color:white;
  width: 200px;
  margin: 10px auto 10px auto;
}
#all-eateries{
  padding:25px;
 
}
#top-container{
  display:grid;
  height: max-content;
  grid-gap:15px;
}
#top-top, #top{
  font-family: 'Pacifico', cursive;
  color:rgb(102, 207, 199);
  font-size: 3vh;
  height:max-content;
}
#no-log-info{
  padding: 10px;
}
#midtop p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}
#new-place-form #edit-place-form{
  font-family: 'Ubuntu', sans-serif;
  font-weight:800;
  padding:5px;
  height: 60vh;
  overflow: scroll;
}
/* .edit-modal form{
  border: solid 20px orange;
} */
#edit-modal{
  border: solid 20px orange;
}

#save{
  background-color: orange;
  color:white;
  width: 200px;
  margin: 10px auto 10px auto;
  border:none;
}
#delete{
  background-color: rgb(238, 83, 83);
  border:none;
}
@media only screen and (min-width: 768px) {   
  #not-logged-in-nav{
    height: 7vh;
  }
  #nav-no-login{
    align-items: flex-start;
  }
  #no-log-info img{
    display:block;
    height: 75vh;
    margin: 0 auto;
  
  }
  #title{
    text-align: center;
    margin: 5px;
    font-size: 60px;
  }
  #sign-up, #login{
    padding: 10px 35px; 
  }
  #user-message button{
    width:10vw;
  }
  #top{
    font-size: 25px;;
  }
  #new-place-form #edit-place-form{
    height:max-content;
    overflow: hidden;
  }
}