@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Monoton&family=Pacifico&family=Ubuntu:wght@300&display=swap');
#all-eateries{
    /* border:solid 3px pink; */
    padding:25px;
    display:grid;
    grid-template-rows: 1fr 4fr 3fr;
    padding-top:0;
}
#top-container{
    display:grid;
    height: 150px;
   
}
#top-top{
    font-family: 'Pacifico', cursive;
    /* background-blend-mode:overlay; */
    color:rgb(102, 207, 199);
    font-size: 3vh;
    /* background-image: url('https://i.imgur.com/hEVDcSm.jpg');
    background-size:cover; */
}
#mid-top{
    display: flex;
    justify-content: space-evenly;
    height:100px;
}
#add-new-button, #random-button{
    background-color: rgb(221, 132, 109);
    border:none;
    border-radius: none;
    color:white;
    font-weight: 800;
    margin:5px;
    height:50px;
    width:150px;
}
#mood{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color:transparent;
    background-image:url('https://media.giphy.com/media/3NeSk2IVEd2FYUQEcM/giphy.gif');
    background-position:center;
    -webkit-background-clip: text;
   
}

#all-eateries h1, h3{
    text-align: center;
}
#create-new{
    margin-left:auto;
    margin-right: auto;
}
#two-lists{
    padding-top:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:15px;
    text-align: center;
    /* overflow: scroll; */
}
#v-title, #t-title{
    padding:5px;
    font-family: 'Cedarville Cursive', cursive;
    text-decoration: underline;
}
.edit-button{
    background-color: black;
    border:none;
    height: 4vh;
    font-size: 10px;
}

.random h5{
    z-index: 1;
    padding: 10px;
    color: rgb(42, 25, 187);
    font-family: 'Monoton', cursive;
    font-size: 30px;
    letter-spacing: 5px;
}

#bootstrap-example{
    border: solid 3px black;
    padding: 5px;
    text-align: center;
    height: 500px;
    width: 500px;
    overflow: scroll;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}