@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Monoton&family=Pacifico&family=Ubuntu:wght@300&display=swap');

#mid-top{
    display: flex;
    justify-content: space-evenly;
    height:100px;
    margin-bottom: 15px;
}
#add-new-button, #random-button{
    /* background-color: rgb(221, 132, 109); */
    background-color: rgb(206, 91, 100);
    border:none;
    border-radius: none;
    color:white;
    font-weight: 600;
    margin:5px;
    height:40px;
    width: 150px;
    font-family: 'Ubuntu', sans-serif;
}
#random-modal{
    border: solid 20px orange;
}
#random-modal h5{
    z-index: 1;
    padding: 10px;
    color: rgb(42, 25, 187);
    font-family: 'Monoton', cursive;
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
}

#random-modal button{
    background-color: orange;
    color:white;
    width: 200px;
    margin: 10px auto 10px auto;
}
#add-new-modal{
    border: solid 20px orange;
}
#add-new-modal button{
    background-color: orange;
    color:white;
    width: 200px;
    margin: 10px auto 10px auto;
}
#create-new{
    
}
#mood{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color:transparent;
    background-image:url('https://media.giphy.com/media/3NeSk2IVEd2FYUQEcM/giphy.gif');
    background-position:center;
    -webkit-background-clip: text;

}

#all-eateries h1, h3{
    text-align: center;
}
#two-lists{
    padding-top:0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:15px;

}
#v-title, #t-title{
    
    margin:30px auto 10px auto;
    padding:5px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: underline;
    font-size: 16.5px;
    display: block;
    width: fit-content;
    text-align: center;
}
.edit-button{
    background-color: black;
    border:none;
    height: 4vh;
    font-size: 10px;
    margin: 0 5px;
}
#all-eateries{
    grid-template-rows: 0.75fr 4fr 3fr;
}
#single-visited, #single-to-try{
    border: solid 1px black;
    padding:5px;
    border-radius: 5%;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#single-visited img, #single-to-try img{
    width:30vw;
    border: solid 1px black; 
}
#single-visited h4, #single-to-try h4{
    color:rgb(54, 153, 153);
    font-size: 15px;
}
#single-visited h5, #single-to-try h5{
    font-size: 12px;
}




@media only screen and (min-width: 768px) {   
    #all-eateries{
        padding:25px;
        display:grid;
        padding-top:0;
    }
    #top-container{
        display:grid;
        height: auto;
    }
    #mid-top{
        height:fit-content;
    }
    #add-new-button, #random-button{
        height:50px;
        width:150px;
    }
    #random-modal h5{
        font-size: 30px;
    }
    #mood{
        font-size: 50px;
        font-weight: 900;
    }
    #create-new{
        margin-left:auto;
        margin-right: auto;
    }
    #two-lists{
        padding-top:0;
        grid-gap:15px;
        text-align: center;
    }
   

    #v-title, #t-title{
        margin-top:0;
        font-size: 30px;
    }
    #single-visited, #single-to-try{
        width: 80%;
        
    }
    #single-visited h4, #single-to-try h4{
        font-size: 25px;
    }

    #single-visited img, #single-to-try img{
        height: 15vh;
        width:15vw;
    }
    #single-visited h5, #single-to-try h5{
        font-size: 20px;
        }

   
    #bootstrap-example{
        border: solid 3px black;
        padding: 5px;
        text-align: center;
        height: 500px;
        width: 500px;
        overflow: scroll;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;

    }
}